export( ageLinearModel,
        filterReliability,
		    lidLensArtifact,
		    loadvfcsv,
		    loadvfEyesuite,
		    loadvfxml,
		    pdpmap,
		    pdval,
		    quad2Dfit,
		    locperc,
		    tdpmap,
		    tdval,
		    sdnv,
		    vfstats,
		    vfindex,
		    setnv,
	      getnv,
		    gloperc,
		    ghpostd,
		    vfdemographics,
		    vfiperc,
		    tdrank,
		    tdranknv,
	      tdrankperc,
		    tdrankadjperc,
		    xmlitem,
		    xmlblock,
		    vfindexpmap,
		    vfstatspmap,
		    xmldevval,
		    xmlvfval,
		    loadvfxmlbatch,
		    xmlvfxy,
	      vfcolormap,
		    vfplot,
		    vfplotloc,
		    createviewport,
		    vflayout,
		    vfgrayscale,
    	  vfsegmentcoord,
		    bebie,
		    stimLoc,
		    colormapgraph,
		    poplr,
		    poplr_pstat,
	      poplr_cstat,
		    vfplot_plr,
        vfplot_legoplot,
        vfplot_sparklines,
		    vflayout_poplr,
        hist_poplr,
		    progols,
		    vfsort,
		    vfselectvisit,
		    ringmapgraph,
		    agecalc,
	      tdrankglm,
		    ghranktd,
		    pdvalghr,
		    pdpmapghr,
		    sdnvghr,
		    vflayoutghr,
		    tdrankadjperc,
		    retestconddist,
		    vftessellation,
		    vfaverage,
		    vflayout_progress,
		    vf2gcloc,
		    cart2jpolar,
		    fiberpathpsi,
		    gcloc2psi,
		    jpolar2cart,
		    psi2oct )

importFrom( "grDevices", "col2rgb", "dev.new", "dev.off", "pdf", "rgb", "xy.coords" )
importFrom( "graphics", "axis", "box", "grid", "hist", "lines", "par", "plot", "points", "segments", "text", "title", "symbols", "strheight", "strwidth", "grconvertX", "grconvertY" )
importFrom( "stats", "approx", "glm", "lm", "make.link", "optim", "predict", "pt", "quantile", "sd", "var", "weighted.mean" )
importFrom( "utils", "packageDescription", "head", "read.csv", "write.csv", "write.table", "read.csv2" )
importFrom( "Hmisc", "ceil", "wtd.quantile", "wtd.var" )
importFrom( "matrixStats", "colSds", "colVars", "rowMaxs", "rowMins" )
importFrom( "grid", "gpar", "grid.rect", "grid.text", "pushViewport", "seekViewport", "viewport", "vpList", "vpTree" )
importFrom( "flip", "make.permSpace" )
importFrom( "gtools", "combinations" )
importFrom( "deldir", "deldir", "tile.list" )
importFrom( "spatstat", "ppp", "delaunay" )
importFrom( "stats", "optimize" )
